<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <header>
    <h1><%= article.title %></h1>
    <p><a href="http://localhost:3000/">Back</a></p>
  </header>

  <main>
    <div class="column-container">
      <p><%= article.createdAt %></p>
      <p><%= article.content %></p>
    </div>
  </main>
</body>
</html>

